<div class="jumbotron myjumbo">
  <div class="container">

<h1>Contact Information</h1>
<p>Spicy Thai</p>
<p>3230 N. University Ave.</p>
<p>Provo, Utah  84604</p>

<p>(801) 370-0707</p>
<p>We would love to hear from you. Tell us how we can improve or why you love our food.</p>

<p>Email:  spicythaiprovo@aol.com</p>

</div>
</div>

<div class="jumbotron myjumbo">
  <div class="container">

<h2>Careers</h2>
<p>Thank You for your interest in Spicy Thai.</p>
<p>Spicy Thai is always looking for good people.</p>
<p>Come into the restaurant and pick up an application any day between 2 and 5PM.</p>

</div>
</div>
