<div class="jumbotron myjumbo">
  <div class="container">
<h1>Catering</h1>
<p>Spicy Thai Restaurant, LLC</p>

<p>Parties:</p>
<p>Spicy Thai Restaurant offers to-go catering for parties. We prepare the food, and provide it to the customer hot and ready in large disposable containers, etc.  The customers pickups their order on the day and time pre-arranged for their party.  Food for parties are ordered straight from our main menu, simply pick the quantity of each item you wish to order.  All food orders of $500 or more will receive a 5% discount.
Large food orders over $100 must be in writing so no mistakes are made. All orders require a one day notice depending on the size of the order. A 50% deposit, or full payment is required in advance.
 </p>
<p>Questions: </p>
<p>Please call the restaurant to talk to our manger, or send an email to spicythaiprovo@aol.com</p>

</div>
</div>
