<br>
<br>

<div style="text-align:center">

  <ul class="pagination pagination-lg">
    <li>
      <a href="#/fullmenu" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="#/fullmenu">1</a></li>
    <li><a href="#/fullmenu2">2</a></li>
    <li><a href="#/fullmenu3">3</a></li>
    <li>
      <a href="#/fullmenu3" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>

</div>

<div class="row" ng-cloak>
    <div class="col-md-6 col-md-offset-3">
        <div class="menu-backdrop">
          <br><br>

            <img class="menu" src="/images/Menu2.jpg">

          </div>
    </div>
</div>
