<div></div>
<div class="jumbotron myjumbo">
  <br>
  <p class="container">
    <img src="http://www.spicythairestaurant-provo.com/_/rsrc/1261874934249/config/app/images/customLogo/customLogo.gif?revision=9" alt="I'm Yeoman"><br>
  </p>
  <p><em>Where the spice is always up to you</em></p>

  <h2>Gourmet - Authentic</h2>

  <h1>Thai Cuisine</h1>

  <h3>Come enjoy our unique taste!</h3>

  <p>Dine-In or Take-Out</p>

</div>

<div class="jumbotron">
  <div class="container">
<div class="row">
  <div class="col-md-6">


      <p><strong>NEW LOCATION:</strong></p>

      <p>3230 N. UNIVERSITY AVE.</p>

      <p>PROVO, UTAH  84604</p>

      <p>801-370-0707</p>


  </div>

  <div class="col-md-6">
     <p><strong>HOURS:</strong></p>
     <p>11:00 AM TO 9:30 PM MON-THUR</p>
     <p>11:00 AM TO 10 PM FRI</p>

     <p>12:00 AM TO 10 PM SAT</p>

     <p style="font-size:15px;">(*To-Go orders only taken 30 minutes before closing)</p>
   </div>
 </div>

</div>
</div>


<div class="jumbotron myjumbo">
  <div class="container">

    <h2>About Us</h2>


<p>Spicy Thai Restaurant is a family owned and operated business. Each dish is prepared with great care, love and experience. Our menu contains many of the classic Thai dishes that you can find at the finest restaurants in Thailand, and throughout the United States.  Some of our more popular dishes include Creamy rich curry, Pad Thai rice noodles, Orange chicken, and Mango with sweet rice -- all with the perfect texture and spices, and delicious in every bite.
Our caring, well trained, and experienced Thai chefs take great pride in providing our guests with Authentic, Delicious Thai Cuisine. All of our dishes are freshly prepared at the time of order.  Each guest will be able to savor, the mouth watering flavor of fresh ingredients, mixed with the magic of Thai herbs and spices.   Spicy or Not, it’s up to you.  Most of our dishes come mild – you tell us how spicy you want it.
</p>

<p>Come Enjoy the Taste!</p>

  </div>
</div>

<div class="facebooklink">
  <a class="facebooklink" href="https://www.facebook.com/Spicy-Thai-Restaurant-LLC-55831053639/timeline">Like us on Facebook</a>
</div>
