<div class="jumbotron myjumbo">
  <div class="container">

<div class="reviews">
<h1>Reviews</h1>

<ul>
<li><a href="http://www.heraldextra.com/entertainment/article_8154bced-2bff-5239-bcc3-d75d25222693.html">Herald Extra</a></li>

<li><a href="http://www.tripadvisor.com/Restaurant_Review-g57106-d1232452-Reviews-Spicy_Thai-Provo_Utah.html">Trip Advisor</a></li>

<li><a href="http://local.yahoo.com/info-44717337-spicy-thai-provo">Yahoo</a></li>

<li><a href="http://www.yelp.com/biz/spicy-thai-provo#hrid:9pMG4i4wly0rsN64LRp7Vw">Yelp</a></li>

<li><a href="http://www.yellowpages.com/info-53849/Spicy-Thai-Restaurant/reviews">Yellow Pages</a></li>

<li><a href="http://www.heraldextra.com/entertainment/article_8154bced-2bff-5239-bcc3-d75d25222693.html">Herald Extra</a></li>

<li><a href="http://www.urbanspoon.com/r/54/1423841/restaurant/Salt-Lake-City/Spicy-Thai-Provo">Urbanspoon</a></li>

<li><a href="http://the411.byu.edu/content/spicy-thai-restaurant">the411</a></li>

<li><a href="http://www.facebook.com/pages/Provo-UT/Spicy-Thai-Restaurant-LLC/55831053639">Facebook</a></li>

<li><a href="http://www.superpages.com/bp/Provo-UT/Spicy-Thai-Restaurant-L0100272936.htm">Super Pages</a></li>

<li><a href="http://www.bing.com/local/details.aspx?">Bing</a></li>

<!-- <a href="lid=YN881x203349909&qt=yp&what=Spicy+Thai&where=Provo%2c+Utah&s_cid=ansPhBkYp02&mkt=en-us&q=Spicy Thai Provo, Utah"></a> -->

<li><a href="http://www.judysbook.com/searchresult/Provo/UT?q=Spicy+Thai+restaurant&afsq=Spicy+Thai+restaurant+Provo%2c+UT&loc=">Judy's Book</a></li>

<li><a href="http://local.yahoo.com/info-44717337-spicy-thai-provo;_ylt=Ah5onhkcs9FVB.5lJA4WqxKHNcIF;_ylv=3?csz=Provo%2C+UT">Yahoo</a></li>

<li><a href="http://www.yellowpages.com/info-53849/Spicy-Thai-Restaurant?from=xmlapi_LMI">Yellow Pages</a></li>

<li><a href="http://www.utahvalley.org/shopping-dining/dining.aspx?detailID=2120">Utah Valley</a></li>

</ul>

</div>

</div>
</div>
